  :root {
  --titulo-span:  #2a5c2a;
  --text-parrafo-general: rgb(0, 0, 0);
  --color-h3: #ffb703;
  --box-shadow-color:#2196f3;
  --border:#2196f3;
  --title-h2: rgb(0, 0, 0);
  --bg-color-dark: #43283a;
  --text-color: #000000;
  --font-p: 'Underdog', Times, serif;
}

.toast-exito {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #2a5c2a;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-family: sans-serif;
  font-size: 18px;
  display: none;
  z-index: 1000;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.toast-exito.show {
  display: block;
  opacity: 1;
  transform: translateX(0);
}
/*! imagen y su texto*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 span {
  text-transform: uppercase;
}
.inicio-contacto-container {
  position: relative;
  height: 60vh;
  width: 100%;
}
.seccion-contacto {
  position: relative;
  background-image: linear-gradient(rgba(9, 6, 221, 0.4), rgba(7, 22, 236, 0.4)),
  url('../images/contacto-perfil.jpg') ;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.texto-contacto h1 {
  font-size: clamp(4rem, 6vw, 7rem);
  margin: 0 0 0 1rem;
  color: var(--color-h3);
  font-family:'Cherry Bomb One', cursive;
}

.titulo-contacto span {
  text-transform: uppercase;
  display: inline-block;
  animation: pulseBounceGlow 1.5s ease-in-out infinite;
  opacity: 0;
}
.p-principal{
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 4rem;
  border-radius: 30% 20% 60% 10%;
}
.texto-contacto p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: rgb(0, 0, 0);
  font-family: var(--font-p)
}
@keyframes pulseBounceGlow {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
  30% {
    transform: scale(1.3) translateY(-7px); /* Pulso + Rebote leve */
    opacity: 0.9;
  }
  60% {
    transform: scale(1.1) translateY(2px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
}
.titulo-contacto span:nth-child(1) { animation-delay: 0s; }
.titulo-contacto span:nth-child(2) { animation-delay: 0.2s; }
.titulo-contacto span:nth-child(3) { animation-delay: 0.4s; }
.titulo-contacto span:nth-child(4) { animation-delay: 0.6s; }
.titulo-contacto span:nth-child(5) { animation-delay: 0.8s; }
.titulo-contacto span:nth-child(6) { animation-delay: 1s; }
.titulo-contacto span:nth-child(7) { animation-delay: 1.2s; }
.titulo-contacto span:nth-child(8) { animation-delay: 1.4s; }
.titulo-contacto span:nth-child(9) { animation-delay: 1.6s; }
.titulo-contacto span:nth-child(10) { animation-delay: 1.8s; }
.titulo-contacto span:nth-child(11) { animation-delay: 2s; }

/*! cuepo de contacto  */

.contacto-con- {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 25rem;
}
.container-form-info{
  position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
/* texto contacto info*/

.textoB-contacto {
    border-radius: 15px;
}
.textoB-contacto h2 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    padding: 1rem 0;
    margin: 1rem;
    color: var(--title-h2);
    padding-left: 1rem;
    font-weight: 900;
}
.textoB-contacto h2 span{
    color: var(--titulo-span);
    font-family:'Cherry Bomb One', cursive;
}
.textoB-contacto p{
    font-size: clamp(0.5rem, 3vw, 1.2rem);
    margin: 1rem;
    margin-top: 3rem 0;
    color: var(--text-parrafo-general);
    text-align: center;
    color: #000000;
    font-family: var(--font-p);
}
/*! texto header de form */
.textoC-contacto {
    margin-left: auto;
    margin-right: auto;
}
.textoC-contacto h3 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    color: var(--color-h3);
    text-align: center;
    margin: 0 auto;
}
/*! Formulario */

form {
  margin-top: 1rem;
  padding: 0.5rem;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  color: var(--border);
}

form div {
  margin: 1rem 0;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-family:'Cherry Bomb One', cursive;
  font-size: clamp(1rem, 4vw, 1.5rem);
  color: var(--bg-color-dark);
}
.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

form .input {
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    color: var(--text-color);
    border: rgba(0, 0, 0, 0.3) 2px solid;
    outline: none;
}
form .asunto{
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    color: var(--text-color);
    border: rgba(0, 0, 0, 0.3) 2px solid;
    outline: none;
}
form textarea{
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    height: 200px;
    color: var(--text-color);
    border: rgba(0, 0, 0, 0.3) 2px solid;
    outline: none;
}
form .input::placeholder{
  color: var(--text-color);
  font-family: var(--font-p);
}
form .asunto::placeholder{
  color: var(--text-color);
  font-family: var(--font-p);
}
form .ahi::placeholder{
  color: var(--text-color);
  font-family: var(--font-p);
} 

.boton-one{ 
    text-align: end;
    color: var(--text-color);
}
.btn-ones{
  font-family: var(--font-p);
  padding: 1rem 4rem;
  border-radius: 30px;
  background: linear-gradient(to right, #2196f3, #90e0ef);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin-top: 7rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

/*! Informacion de contacto */
.info-contactoB{
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
.info-contactoB h3{
  padding: 0.5rem;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-family: 'Lobster', cursive;
  color: var(--color-h3);
  border-radius: 15px;
  text-align: center;
  width: max-content;
  margin: 0 auto;
}
.info-contactoB .parrafos{ 
  font-size: clamp(0.5rem, 4vw, 1rem);
  margin: 1rem;
  margin-top: 3rem 0;
  color: var(--text-parrafo-general);
  text-align: center;
  font-family: var(--font-p);
}

.container-dire{
  padding: 1rem;
  box-shadow: #2196f3 0px 0px 12px 0px;
}
.info-contactoB h4 {
  max-width: max-content;
  font-weight: bold;
  margin-bottom: 10px;
  font-family:'Cherry Bomb One', cursive;
  font-size: clamp(1rem, 4vw, 1rem);
  color: var(--bg-color-dark);
}
.info-contactoB p{
  font-size: clamp(0.4rem, 4vw, 1rem);
  margin: 0.3rem;
  color: var(--text-parrafo-general);
  font-family: var(--font-p);
}

/*! redes sociales */
.container-redes-sociales{
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
}

.container-redes-sociales .parrafo-redes{
    font-size: clamp(0.5rem, 4vw, 1rem);
    margin: 0.5rem 0;
    font-weight: 100;
    text-align: center;
    font-family: var(--font-p);
}
.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 0;
    box-shadow: var(--box-shadow-color) 0px 0px 12px 0px;
    padding: 1rem;
}
.redes i {
    font-size: 2rem;
    color: #ffffff;
    transform: scale(1);
    transition: transform 0.3s opacity 0.3s;
    cursor: pointer;
}

@keyframes pulseBounceGlow {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
  30% {
    transform: scale(1.3) translateY(-7px); /* Pulso + Rebote leve */
    opacity: 0.9;
  }
  60% {
    transform: scale(1.1) translateY(2px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
}

.redes:hover i:nth-child(1),
.redes.hovered i:nth-child(1) {
  animation: pulseBounceGlow 0.9s ease-in-out 0s 1 both;
}
.redes:hover i:nth-child(2),
.redes.hovered i:nth-child(2) {
  animation: pulseBounceGlow 0.9s ease-in-out 0.5s 1 both;
}
.redes:hover i:nth-child(3),
.redes.hovered i:nth-child(3) {
  animation: pulseBounceGlow 0.9s ease-in-out 1s 1 both;
}
.redes:hover i:nth-child(4),
.redes.hovered i:nth-child(4) {
  animation: pulseBounceGlow 0.9s ease-in-out 1.5s 1 both;
}

/* Colores */
.redes .fa-facebook { color: #3b5998; }
.redes .fa-instagram { color: #8a3ab9; }
.redes .fa-youtube { color: #ff0000; }
.redes .fa-tiktok { color: #69c9ff; }

/*! preguntas frecuentes */
.faq-content {
  display: none;
}
.preguntas-frecuentes .card div{
  justify-content: space-between;
}
.preguntas-frecuentes{
  margin-top: 1rem;
  transition: max-height 0.4s ease;
  padding: 0.5rem;
}

.parrafo-pregunta{
    margin: 0.8rem 0;
    font-size: 1.3rem;
    font-weight: 100;
    text-align: center;
}
.faq-header {
  display: flex;
  justify-content:space-between;
  cursor: pointer;
}
.card {
  box-shadow: #2196f3 0px 0px 8px 0px;
  margin: 0.5rem 0;
}

.card div h5 {
  font-size: clamp(0.5rem, 4vw, 1.1rem);
  padding: 1rem 0;
  color:  var(--text-parrafo-general);
  font-family: 'Cherry Bomb One', cursive;
}
.boton-mas {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--text-parrafo-general);
  cursor: pointer;
  margin-right: 1rem;
}
.faq-content p{
  font-size: 1rem;
  color: var(--text-parrafo-general);
  margin: 0.5rem 0;
  font-weight: 100;
  text-align: center;
  font-family: var(--font-p);
}


/*! Nuestra Ubicacion */

.ubicacion-title{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 5rem;
}
.ubicacion-title h2{
    font-size: clamp(2rem, 4vw, 4rem);
    padding: 1rem 0;
    margin: 1rem;
    color: var(--title-h2);
    padding-left: 1rem;
    font-family: 'Underdog', cursive;
    font-weight: 900;
    text-align: center;
}
.ubicacion-title h2 span{
  color: var(--titulo-span);
  font-family: 'Cherry Bomb One', cursive;
}
.ubicacion-title p{
   font-size: clamp(0.5rem, 4vw, 1.2rem);
    color: var(--text-parrafo-general);
    margin: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-family: var(--font-p);
}
.mapa-info-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    border-radius: 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 7rem;
}
.mapa-info-container .mapa{
    width: 100%w;
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) inset 0px 0px 20px 0px;
}
.mapa-info-container div iframe{
    width: 100%;
    height: 50vh;
    border: none;
    object-fit: cover;
}

/*! costado de mapa */
.info-cos-mapa{
  padding: 1rem;
}

.info-cos-mapa div h3{
    font-size: clamp(2rem, 4vw, 1.5rem);
    font-family: 'Lobster', cursive;
    color: var(--color-h3);
    text-align: center;
    margin: 0 auto;
}
.info-cos-mapa div p{
    font-size: clamp(0.5rem, 4vw, 1rem);
    color: var(--text-parrafo-general);
    margin: 0.3rem;
    font-family: var(--font-p);
}
.info-cos-mapa .comop {
    font-size: clamp(0.5rem, 4vw, 1rem);
    color: var(--text-parrafo-general);
    margin: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.inf-ubi{
  padding: 1rem;
  box-shadow: #2196f3 0px 0px 12px 0px;
}
.info-cos-mapa h4 {
    max-width: max-content;
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--color-h3);
    font-family: 'Cherry Bomb One', cursive;
}
.arrow {
    font-size: 24px;
    color: #000000;
    padding: 0 5px;
    transition: transform 0.3s ease;
}
.btn-mapa {
  margin-top: 1rem;
  width: 80%;
  padding: 1rem 4rem;
  border-radius: 30px;
  background: linear-gradient(to right, #2196f3, #90e0ef);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  font-family: var(--font-p);
}
.co-btn{
  text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ========== RESPONSIVE ========== */
@media (max-width: 1024px) {
  .container-form-info,
  .mapa-info-container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .texto-contacto h1,
  .texto-contacto p {
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .texto-contacto h1 {
    font-size: 2.5rem;
  }

  .texto-contacto p {
    font-size: 1rem;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .btn-ones, .btn-mapa {
    width: 100%;
    padding: 1rem;
  }

  .redes {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 480px) {

  .textoB-contacto{
    margin-top: -7rem;
  }
.textoB-contacto p{
  margin: 0 0.5rem;
  margin-top: -1rem;
  }
  .texto-contacto p {
    margin-left: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  
  form{
    margin-top: 1rem;
  }
  form div{
    margin-top: 0rem;
  }
  form .input{
    padding: 0.5rem;
  }
  form .input::placeholder{
    font-size: 0.6rem;
  }
  form .asunto::placeholder{
    font-size: 0.6rem;
  }
  form textarea::placeholder{
    font-size: 0.6rem;
    height: 50px;
  } 
  .redes i {
    font-size: 1.5rem;
  }
.preguntas-frecuentes{
  margin: -.5rem;
  margin: 0;
  padding: 0;
}
  .card div h5 {
    font-size: 0.95rem;
  }

  .btne {
    width: 100%;
    padding: 1rem;
  }
  .boton-mas {
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--text-parrafo-general);
    cursor: pointer;
    margin-right: 1rem;
  }
  .faq-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-contactoB h3,
  .info-cos-mapa h3 {
    font-size: 1.5rem;
  }

  .ubicacion-title h2 {
    font-size: 1.8rem;
  }
  .ubicacion-title{
    margin: 2rem;
  }
  
}



@media (max-width: 400px) {

  .container-form-info {
    display: block;
    width: 100%;
    padding: 0 1rem;
    margin-top: 2rem;
  }

  .form-grid {
    grid-template-columns: 1fr !important;
  }
  .textoB-contacto{
    margin-top: -7rem;
  }
.textoB-contacto p{
  margin: 0 0.5rem;
  margin-top: -1rem;
  }
  .texto-contacto p {
    margin-left: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  
  form{
    margin-top: 1rem;
  }
  form div{
    margin-top: 0rem;
  }
  form .input{
    padding: 0.5rem;
  }
  form textarea{
    height: 100px;
  }
  form .asunto{
    padding: 0.5rem;
  }
  form .input::placeholder{
    font-size: 0.6rem;
  }
  form .asunto::placeholder{
    font-size: 0.6rem;
  }
  form textarea::placeholder{
    font-size: 0.6rem;
  }
  .info-contactoB{
    padding: 0.3rem;
  }
  .btn-ones {
    width: 100%;
    padding: 0.8rem 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    box-sizing: border-box;
  }

  .redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
  }

  .redes i {
    font-size: 1.5rem;
  }

  .card div h5 {
    font-size: 0.95rem;
  }

  .boton-mas {
    font-size: 1.5rem;
  }
}


/*! Footer*/