:root {
  --bg-color: #100f14;
  --bg-color-dark: #ffffff;
  --button-color-dark: #391f3098;
  --text-color: #f8f7f3;
  --text-parrafos: rgb(180, 178, 178);
  --border-bottom: #928f8f98;
  --highlight: #ff007f;
  --hover-bg: rgba(255, 255, 255, 0.1);
}
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  background-color: #2a5c2a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.logo-link .logo {
  height: 100px;
  object-fit: contain;
  border-top-left-radius: 30px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

}

/* Hamburguesa */
.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.hamburger {
  width: 25px;
  height: 4px;
  background-color: white;
  display: block;
  position: relative;
  transition: 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background-color: white;
  transition: 0.3s ease-in-out;
}
.hamburger::before {
  top: -8px;
}
.hamburger::after {
  top: 8px;
}

/* NAV normal */
.nav-ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.nav-link:hover {
  background-color: #377937;
}

.nav-link.active {
  background-color: #3fdb3f;
  color: white;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3); /* leve oscurecimiento */
  z-index: 997; /* debajo del menú (998) */
  display: none;
}

.menu-overlay.active {
  display: block;
}

/* RESPONSIVE animado desde el lado izquierdo */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .nav-ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 70vw;
    height: 100vh;
    background:#2a5c2a;
    transition: left 0.4s ease-in-out;
    gap: 2rem;
    z-index: 998;
  }

  .nav-ul.open {
    left: 0;
  }

  .nav-link {
    font-size: 1.2rem;
  }
}

