:root {
  --bg-color: #ffffff;
  --bg-color-dark: #43283a;
  --button-color-dark: #2c1825af;
  --text-color: #000000;
  --text-parrafos: rgb(39, 39, 39);
  --border-bottom: #928f8f98;
}
    #canvas-container {
      width: 100vw;
      height: 100vh;
      display: block;
      position: fixed;
      top: 0; left: 0;
      z-index: -1; /* atrás de todo */
    }
/*! imagen y su texto*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inicio-contacto-container {
  position: relative;
  height: 60vh;
  width: 100%;
}
.seccion-contacto {
  background-image: url('../images/conocenos.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.texto-contacto {
  margin-top: 20vh;
}
.texto-contacto h1 {
  font-size: clamp(4rem, 6vw, 7rem);
  color: white;
  margin: 1rem;
  font-family:'Cherry Bomb One', cursive;
}

.titulo-contacto span {
  text-transform: uppercase;
  display: inline-block;
  animation: pulseBounceGlow 1.5s ease-in-out infinite;
  opacity: 0;
}
.texto-contacto p {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  margin: 1rem;
  color: white;
}
@keyframes pulseBounceGlow {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
  30% {
    transform: scale(1.3) translateY(-7px); /* Pulso + Rebote leve */
    opacity: 0.9;
  }
  60% {
    transform: scale(1.1) translateY(2px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
}
.titulo-contacto span:nth-child(1) { animation-delay: 0s; }
.titulo-contacto span:nth-child(2) { animation-delay: 0.2s; }
.titulo-contacto span:nth-child(3) { animation-delay: 0.4s; }
.titulo-contacto span:nth-child(4) { animation-delay: 0.6s; }
.titulo-contacto span:nth-child(5) { animation-delay: 0.8s; }
.titulo-contacto span:nth-child(6) { animation-delay: 1s; }
.titulo-contacto span:nth-child(7) { animation-delay: 1.2s; }
.titulo-contacto span:nth-child(8) { animation-delay: 1.4s; }
.titulo-contacto span:nth-child(9) { animation-delay: 1.6s; }

/*! sobre nosotros */
.contenedor-h2{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.sobre-nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    color: var(--text-color);
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 7rem;
}
.contenedor-h2 h2{
    font-size: clamp(2rem, 4vw, 4rem);
    padding: 0.5rem;
    margin: 0;
    color: rgb(255, 255, 255) !important;
    padding-left: 1rem;
    font-family: 'Underdog', cursive;
    text-align: center;
}
.contenedor-h2 h2 span{
    color: #2196f3;
    font-family:'Cherry Bomb One', cursive;
    font-size: 5rem;
}
.section {
  max-width: 1400px;
  margin: 0 auto;
  gap: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-box img {
  width: 36vw;
  height: 32vh;
  object-fit: cover;
  border-radius: 20px;
}

.text-column {
  position: relative;
  padding: 2rem;
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
  box-shadow: #7f00ff 0px 0px 15px 0px;
  transition: color 1s ease;
  margin: 0.5rem;
}


.text-column::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200%; /* Para que pueda cubrir todo el card al subir */
  background-color: #7f00ff;
  border-radius: 100% 100% 0 0 / 100% 100% 0 0;
  transform: translateY(100%); /* Posición inicial como acordamos */
  transition: transform 1s ease;
  z-index: -1;
}

/* Hover: el arco sube y cubre el card */
.text-column:hover::after {
  transform: translateY(0); /* Sube y cubre el card */
}
.text-column:hover h3{
  color: white; /* O el color que quieras cuando se tape */
}


.text-column h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #7f00ff;
  text-align: center;
}
.text-column hr{
  color: #7f00ff;
  background-color:#7f00ff;
  height: 5px;
  margin-bottom: 1rem;
}
.text-column p {
  font-size:1.2rem;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .section {
    grid-template-columns: 1fr;
  }
  .image-box img {
    width: 100%;
    height: auto;
  }
  
}
@media (max-width: 768px) {
  .text-column::after {
    display: none;
  }
}


/*! misones */
.m-bgc{
  padding: 1rem;
}
.section-2{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.section-2 h2{
  font-size: clamp(2rem, 4vw, 4rem);
  padding: 0.5rem;
  margin: 0;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
  font-family: 'Underdog', cursive;
  text-align: center;
}
.section-2 h2 span{
  color: #2196f3;
  font-family:'Cherry Bomb One', cursive;
}
.section-2 p{
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 0;
  color: rgb(247, 247, 247);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  text-align: center;
}

/*! misones contenido */
 .container {
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 2rem 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.espera {
  position: relative;
  padding: 2rem;
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
  box-shadow: #ec09bb 0px 0px 15px 0px;
  transition: color 1s ease;
  margin: 0.5rem;
}

.espera::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200%; /* Para que pueda cubrir todo el card al subir */
  background-color: #ec09bb;
  border-radius: 100% 100% 0 0 / 100% 100% 0 0;
  transform: translateY(100%); /* Posición inicial como acordamos */
  transition: transform 1s ease;
  z-index: -1;
}

/* Hover: el arco sube y cubre el card */
.espera:hover::after {
  transform: translateY(0); /* Sube y cubre el card */
}
.espera:hover h3{
  color: white; /* O el color que quieras cuando se tape */
}

.text-content h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #ec09bb;
  text-align: center;
}
.text-content hr{
  color: #ec09bb;
  background-color:#ec09bb;
  height: 5px;
  margin: 1rem;
}
.text-content p {
  font-size:1.3rem;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  padding: 3rem;
}

.image-group {
  display: flex;
  position: relative;
  margin: 0 auto; /* Sin espacio entre ellas */
}
/* Imagen inferior */
.bottom-left {
  margin-top: 70px;
  z-index: 1;
}

/* Imagen superior al frente */
.center {
  margin-left: 30px; /* Se enciman */
  z-index: 2;
}

.center img{
  border-radius: 20px;
  border: #ec09bb 5px solid;
}

.right {
  margin-top: 70px;
  left: 180px;
  z-index: 1;
}
.ope {
  position: relative;
  padding: 2rem;
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
  box-shadow: #2196f3 0px 0px 15px 0px;
  transition: color 1s ease;
  margin: 0.5rem;
}
.ope::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200%; /* Para que pueda cubrir todo el card al subir */
  background-color: #2196f3;
  border-radius: 100% 100% 0 0 / 100% 100% 0 0;
  transform: translateY(100%); /* Posición inicial como acordamos */
  transition: transform 1s ease;
  z-index: -1;
}

/* Hover: el arco sube y cubre el card */
.ope:hover::after {
  transform: translateY(0); /* Sube y cubre el card */
}
.ope:hover h3{
  color: white; /* O el color que quieras cuando se tape */
}

.ope h3 {
  color: #2196f3;
}
.ope hr{
  color: #2196f3;
  background-color:#2196f3;
}

/* Imagen que se monta y se sale hacia afuera */
.righted {
  margin-left: -60px; /* se monta sobre la anterior */
  z-index: 2;
  transform: translateX(-250px); /* saca la imagen fuera del contenedor */
  border-radius: 20px;
}
.righted img{
  border-radius: 20px;
  border: #2196f3 5px solid;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }
  .image-group {
    order: 2;
  }

  .ope {
    order: 1;
  }
  .image-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .image-wrapper {
    width: 90%;
    max-width: 300px;
  }

  .bottom-left,
  .center,
  .right {
    margin: 0;
    position: relative;
  }

  .center {
    z-index: 2;
  }

  .bottom-left {
    z-index: 1;
  }
}
@media screen and (max-width: 740px) {
  .container {
    grid-template-columns: 1fr;
  }
  .image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
}

/*! Valores*/
.valo{
  padding: 1rem;
}  
.containerr {
  max-width: 1400px;
  margin: 0 auto;
}

.images {
  position: relative;
  max-width: 400px;
  object-fit: cover;
  display: block;
}

.image {
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.text-contente {
  text-align: center;
  justify-content: center;
}

.text-contente h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #2196f3;
  text-align: center;
}
.text-contente hr{
  color: #2196f3;
  background-color:#2196f3;
  height: 5px;
  margin: 1rem;
}
.text-contente p {
  font-size:1.5rem;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  padding: 3rem;
}
/*! valores */


@media screen and (max-width: 1024px) {
  .containerr {
    grid-template-columns: 1fr;
  }
}

/*! mision */
.v-bgc{
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 5px; 

}
.inicio-valores {
  color: #ffffff;
  text-align: center;
}

.valores-container {
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 5px;
}

.valor-item {
  position: relative;
  border: 2px solid;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
}
.swiper-slide.valor-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 160%;
  height: 70%;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0.2; /* Puedes ajustar la opacidad o quitarla */
  pointer-events: none; /* No interfiere con clics */
  z-index: 9;
}
.swiper-slide.valor-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 160%;
  height: 70%;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;
}
.gra-purple{
  border: 2px solid #7f00ff;
  box-shadow: 0px 0px 12px 0 #7f00ff;
}
.gra-purple::after{
  background-color: #7f00ff;
}
.gra-purple::before{
  background-color: #7f00ff;
}
.gra-rosa{
  border: 2px solid #ec09bb;
  box-shadow: 0px 0px 12px 0 #ec09bb;
}
.gra-rosa::after{
  background-color: #ec09bb;
}
.gra-rosa::before{
  background-color: #ec09bb;
}
.gra-cele{
  border: 2px solid #2196f3;
  box-shadow: 0px 0px 12px 0 #2196f3;
}
.gra-cele::after{
  background-color: #2196f3;
}
.gra-cele::before{
  background-color: #2196f3;
}

.icono{
  font-size: 2rem;
  margin-bottom: 0,1rem;
}

.valor-h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top:  1rem;
  font-family:'Cherry Bomb One', cursive;
}

.valor-hr {
  height: 5px;
  border: none;
  margin-bottom: 1rem;
}

.valor-h3.green {
color: #2196f3;
}

.valor-h3.orange {
color: #ec09bb;
}

.valor-h3.purple {
color: #7f00ff;
}

.valor-h3.blue {
color: #2196f3;
}

.valor-h3.pink {
color: #7f00ff;
}

.valor-h3.mora {
color: #ec09bb;
}

.valor-p {
  font-size: 1.1rem;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.valores-pagination {
  position: relative;
  margin-top: 3rem;
  text-align: center;
}

.valores-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 0.6;
  margin: 0 8px;
  border-radius: 50%;
  transition: all 0.3s;
}

.valores-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #102edb, #0a0ee2);
  opacity: 1;
  width: 10px;
  height: 10px;
}

/* Reutiliza estilos de gradientes para el borde */


@media screen and (max-width: 360px) {
  .valores-container {
    grid-template-columns: 1fr;
  }
  
.valor-item {
  max-width: 100%;
  height: 100%;
}
}


/*! modelo de Negocio */

.container-modelo-negocio{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5rem;
}

.modelo-negocio{
    color: var(--text-color);
}
.modelo-negocio h2{
  font-size: clamp(2rem, 4vw, 4rem);
  padding: 0.5rem;
  margin: 0;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
  font-family: 'Underdog', cursive;
  text-align: center;
}
.modelo-negocio h2 span{
  color: #2196f3;
  font-family:'Cherry Bomb One', cursive;
}

.modelo-negocio .mdn{
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem; 
  color: #ffffff;
}

/*producacion */
.inicio-produccion {  
  color: #2c2828;
  padding: 4rem 1rem;
  text-align: center;
}

.produccion-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
}

/**/
.produccion-item {
  position: relative;
  border: 2px solid;
  padding: 1rem ;
  width: 100%;
  max-width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
}
.swiper-slide.produccion-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 160%;
  height: 50%;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0.2; /* Puedes ajustar la opacidad o quitarla */
  pointer-events: none; /* No interfiere con clics */
  z-index: 9;
}
.swiper-slide.produccion-item::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 160%;
  height: 50%;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;
}

.gra-purple{
  border: 2px solid #7f00ff;
  box-shadow: 0px 0px 12px 0 #7f00ff;
}
.gra-cele{
  border: 2px solid #2196f3;
  box-shadow: 0px 0px 12px 0 #2196f3;
}
.gra-rosa{
  border: 2px solid #ec09bb;
  box-shadow: 0px 0px 12px 0 #ec09bb;
}
.produccion-item .icono{
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.produccion-item h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  font-family:'Cherry Bomb One', cursive;
}


.produccion-item p {
  font-size: 1.2rem;
  color: #f7f6f6;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

/* Degradados personalizados por tarjeta */
/* Swiper pagination estilo */
.inicio-produccion .swiper-pagination {
  position: relative;
  margin-top: 2rem;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: #bbb;
  opacity: 0.6;
  margin: 0 8px;
  border-radius: 50%;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background: #083ce6;
  opacity: 1;
  width: 10px;
  height: 10px;
}
/*! estadisticas */
.estadisticas-contenido{
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}
.estadisticas-h2{
  font-size: clamp(2rem, 3vw, 3rem);
  padding: 0.5rem;
  margin: 0;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
  font-family: 'Underdog', cursive;
  text-align: center;
}
.estadisticas-h2 span{
  color: #2196f3;
  font-family:'Cherry Bomb One', cursive;
}
.estadisticas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 3rem 0;
  color: #ffffff;
  text-align: center;
}
.estadisticas-div {
  position: relative;
  padding: 1rem;
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s ease;
  margin: 0.5rem;
}

.estadisticas-div::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200%; /* Para que pueda cubrir todo el card al subir */
  border-radius: 100% 100% 0 0 / 100% 100% 0 0;
  transform: translateY(100%); /* Posición inicial como acordamos */
  transition: transform 1s ease;
  z-index: -1;
}

/* Hover: el arco sube y cubre el card */
.estadisticas-div:hover::after {
  transform: translateY(0); /* Sube y cubre el card */
}
.estadisticas-div:hover h3{
  color: white; /* O el color que quieras cuando se tape */
}


.verde::after{
  background-color: #2196f3;
}
.naranja::after{
  background-color: #7f00ff;
}
.violeta::after{
  background-color: #ec09bb;
}
.moras::after{
  background-color: #2196f3;
}


.verde{
  box-shadow: #2196f3 0px 0px 12px 0px;
}
.naranja{
  box-shadow: #7f00ff 0px 0px 12px 0px;
}
.violeta{
  box-shadow: #ec09bb 0px 0px 12px 0px;
}
.moras{
  box-shadow: #2196f3 0px 0px 12px 0px;
}

.e-verde{
  color: #2196f3;
  font-family:'Cherry Bomb One', cursive;
  font-size: 2rem;
}
.e-naranja{
  color: #7f00ff;
  font-family:'Cherry Bomb One', cursive;
  font-size: 2rem;
}
.e-violeta{
  color: #ec09bb;
  font-family:'Cherry Bomb One', cursive;
  font-size: 2rem;
}
.e-moras{
  color: #2196f3;
  font-family:'Cherry Bomb One', cursive;
  font-size: 2rem;  
}

/*! impulsamos la ganaderia */
.impulsamos{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    color: var(--text-color);

}
.container-impulsamos{
    color: var(--text-color);
    margin: 7rem 0;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.impulsamos-texto h2{
    font-size: clamp(2rem, 4vw, 4rem);
    padding: 0.5rem;
    margin: 0;
    color: rgb(255, 255, 255);
    padding-left: 1rem;
    font-family: 'Underdog', cursive;
    text-align: center;
}
.impulsamos-texto h2 span{
    color: #2196f3;
    font-family:'Cherry Bomb One', cursive;
}
.impulsamos-texto p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}
.nombre-marque {
  width: 100%;
  background: #000;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
}

.nombre-wrapper {
  display: flex;
  gap: 3rem;
  white-space: nowrap;
  animation: scroll-infinite 60s linear infinite;
  width: max-content;
}

.nombre {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  transition: color 0.4s ease, transform 0.4s ease;
}

/* Animación infinita para escritorio */
@keyframes scroll-infinite {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Móvil: 1 nombre visible a la vez */
@media (max-width: 768px) {
  .nombre-marque {
    padding: 2.5rem 1rem;
    overflow: hidden;
  }

  .nombre-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0;
    animation: none;
    justify-content: center;
  }

  .nombre {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.6s ease;
    font-size: 1.4rem;
  }

  .nombre.active {
    opacity: 1;
    transform: translateX(-50%) scale(1.15);
  }
}




/*! responsive */
@media (max-width: 1024px) {
  .sobre-nosotros,
  .mision {
    grid-template-columns: 1fr;
  }

  .valores-lista {
    grid-template-columns: 1fr 1fr;
  }

  .produccion {
    grid-template-columns: 1fr 1fr;
  }

  .estadisticas {
    grid-template-columns: 1fr 1fr;
  }

  .impulsamos {
    grid-template-columns: 1fr;
  }

  .carrusel {
    width: 90%;
    height: auto;
  }

  .carrusel-item img {
    height: auto;
  }
}

@media (max-width: 600px) {
  .texto-contacto h1,
  .texto-contacto p {
    margin-left: 2rem;
    text-align: left;
  }

  .valores-lista {
    grid-template-columns: 1fr;
  }

  .produccion {
    grid-template-columns: 1fr;
  }

  .estadisticas {
    grid-template-columns: 1fr;
  }

  .container-impulsamos,
  .container-modelo-negocio,
  .misiones,
  .sobre-nosotros {
    padding: 0 1rem;
  }

  .carrusel-controls {
    padding: 0 1rem;
  }
}
@media (max-width: 360px) {
 .texto p{
    font-size: 1.5rem;
 }
}

footer{
  background-color: #0057D8;
  color: #fff;
}
