:root {

  --titulo-span:  #2a5c2a;
  --text-parrafo-general: rgb(0, 0, 0);
  --color-h3: #ffb703;
  --box-shadow-color:#2196f3;
  --border:#2196f3;
  --title-h2: rgb(0, 0, 0);
  --font-p: 'Underdog', Times, serif;
  --font-h3: 'Lobster', cursive;

  --bg-color: #ffffff;
  --bg-color-dark: #43283a;
  --button-color-dark: #2c1825af;
  --text-color: #000000;
  --text-parrafos: rgb(39, 39, 39);
  --border-bottom: #928f8f98;
}
h2{
  text-transform: uppercase;
}
/*! imagen y su texto*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inicio-contacto-container {
  position: relative;
  height: 100vh;
  width: 100%;
}
.seccion-contacto {
  background-image: linear-gradient(rgba(9, 6, 204, 0.514), rgba(7, 22, 236, 0.4)),
  url('../images/proyectos-perfil.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto-contacto {
  margin-top: 20vh;
}
.texto-contacto h1 {
  font-size: clamp(2rem, 6vw, 7rem);
  color: var(--color-h3);
  font-family:'Cherry Bomb One', cursive;
}

.titulo-contacto span {
  text-transform: uppercase;
  display: inline-block;
  animation: pulseBounceGlow 1.5s ease-in-out infinite;
  opacity: 0;
}
.texto-contacto p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--text-parrafo-general);
  font-family: var(--font-p);
}
.p-principal{
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 4rem;
  border-radius: 30% 20% 60% 10%;
}
@keyframes pulseBounceGlow {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
  30% {
    transform: scale(1.3) translateY(-7px); /* Pulso + Rebote leve */
    opacity: 0.9;
  }
  60% {
    transform: scale(1.1) translateY(2px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: none;
  }
}
.titulo-contacto span:nth-child(1) { animation-delay: 0s; }
.titulo-contacto span:nth-child(2) { animation-delay: 0.2s; }
.titulo-contacto span:nth-child(3) { animation-delay: 0.4s; }
.titulo-contacto span:nth-child(4) { animation-delay: 0.6s; }
.titulo-contacto span:nth-child(5) { animation-delay: 0.8s; }
.titulo-contacto span:nth-child(6) { animation-delay: 1s; }
.titulo-contacto span:nth-child(7) { animation-delay: 1.2s; }
.titulo-contacto span:nth-child(8) { animation-delay: 1.4s; }
.titulo-contacto span:nth-child(9) { animation-delay: 1.6s; }
.titulo-contacto span:nth-child(10) { animation-delay: 1.8s; }
.titulo-contacto span:nth-child(11) { animation-delay: 2s; }
.titulo-contacto span:nth-child(12) { animation-delay: 2.2s; }
.titulo-contacto span:nth-child(13) { animation-delay: 2.4s; }
.titulo-contacto span:nth-child(14) { animation-delay: 2.6s; }
.titulo-contacto span:nth-child(15) { animation-delay: 2.8s; }

/*! container de proyectos */
.seccion-proyectos {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
}
.inicio-garantia h2 {
  font-size: clamp(2rem, 6vw, 4rem);
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--title-h2);
  padding-left: 1rem;
  font-family: 'Underdog', cursive;
  margin: 0 0 0 1rem;
}
.inicio-garantia h2 span{
  font-family:'Cherry Bomb One', cursive;
  color: var(--titulo-span);
}
.nuestra {
  font-size: clamp(1rem, 2vw, 1.2rem);
  padding: 1rem 0;
  color: var(--text-parrafo-general);
  font-weight: 400;
  text-align: center;
  font-family: var(--font-p);
}
/* SECCIÓN PROYECTOS GANADEROS */
.inicio-garantia {
  text-align: center;
}

.garantia-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
}

.swiper {
  padding-bottom: 30px;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  height: 100%;
}

.garantia-item {
  position: relative;
  border: 2px solid;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  box-sizing: border-box;
  overflow: hidden;
}
.swiper-slide.garantia-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 160%;
  height: 60%;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0.1; /* Puedes ajustar la opacidad o quitarla */
  pointer-events: none; /* No interfiere con clics */
  z-index: 9;
}
.swiper-slide.garantia-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 160%;
  height: 60%;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0.1;
  pointer-events: none;
}
.gra-purple{
  border: 2px solid #2196f3;
  box-shadow: 0px 0px 12px 0 #2196f3;
}
.gra-purple::after{
  background-color: #2196f3;
}
.gra-purple::before{
  background-color: #2196f3;
}

.gra-rosa{
  border: 2px solid #2196f3;
  box-shadow: 0px 0px 12px 0 #2196f3;
}
.gra-rosa::after{
  background-color: #2196f3;
}
.gra-rosa::before{
  background-color: #2196f3;
}
.gra-cele{
  border: 2px solid #2196f3;
  box-shadow: 0px 0px 12px 0 #2196f3;
}
.gra-cele::after{
  background-color: #2196f3;
}
.gra-cele::before{
  background-color: #2196f3;
}

.valor-h3.green {
  color: var(--bg-color-dark);
  font-size: 1.8rem;
  font-family: 'Cherry Bomb One', cursive;
}

.valor-h3.orange {
  color: var(--bg-color-dark);
  font-size: 1.8rem;
  font-family: 'Cherry Bomb One', cursive;
}

.valor-h3.purple {
  color: var(--bg-color-dark);
  font-size: 1.8rem;
  font-family: 'Cherry Bomb One', cursive;
}

.valor-h3.blue {
  color: var(--bg-color-dark);
  font-size: 1.8rem;
  font-family: 'Cherry Bomb One', cursive;
}

.valor-h3.pink {
  color: var(--bg-color-dark);
  font-size: 1.8rem;
  font-family: 'Cherry Bomb One', cursive;
}

.valor-h3.mora {
  color: var(--bg-color-dark);
  font-size: 1.8rem;
  font-family: 'Cherry Bomb One', cursive;
}

.icono {
  font-size: 2rem;
}


.btn {
  margin-top: 1rem;
  background: linear-gradient(to bottom right, #d115c1, #f57ada);
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.6rem 4rem;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  
}

.garantia-p{
  font-size:1.2rem;
  color: var(--text-parrafo-general);
  font-weight: 400;
  font-family: var(--font-p);
}

/* Bolitas de paginación ahora debajo */
.swiper-pagination {
  position: relative;
  margin-top: 3rem; /* espacio más grande para sacarlas bien fuera del carrusel */
  text-align: center;
  position: relative;
}

/* Tamaño y estilo más grande de las bolitas */
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #ffffff !important;
  opacity: 0.6;
  margin: 0 8px;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: 4;
}

.swiper-pagination-bullet-active {
  background: #0840f8 !important;
  opacity: 1;
  width: 16px;
  height: 16px;
}



/* Keyframes para entrada suave */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Sombra sutil en los botones al pasar el mouse */
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}


/*! proyecto en ejecucion */

.proyectos-ejecucion {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.items-proyecto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0.5rem;
}     

.proyectos-ejecucion h2 {
  font-size: clamp(2rem, 4vw, 5rem);
  color: var(--title-h2);
  padding: 1rem 1rem;
  font-family: 'Underdog', cursive;
  text-align: center;
}
.proyectos-ejecucion h2 span {
  color: var(--titulo-span);
  font-family: 'Cherry Bomb One', cursive;
}
.proyectos-ejecucion .pro-p {
  margin: 1rem;
  color: var(--text-parrafo-general);
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font-p);
}

/* CONTENEDOR DE LA SECCIÓN */
.proyectos-ejecucion {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 3rem;
}
/* GRID RESPONSIVO */
.items-proyecto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Escritorio */
  gap: 2rem;
}

@media (max-width: 924px) {
  .items-proyecto {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .items-proyecto {
    grid-template-columns: 1fr;
  }
}

/* ESTILO DE TARJETAS */
.item {
  animation: fadeIn 0.8s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item1{
  box-shadow: inset #2196f3 0px 0px 12px 0px;
}
.item2{
  box-shadow: inset #2196f3 0px 0px 12px 0px;
}
.item3{
  box-shadow: inset #2196f3 0px 0px 12px 0px;
}
/* ANIMACIÓN */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* CONTENIDO DE TEXTO */
.conte-eje h3 {
  font-size: 2rem;
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;
  font-family: var(--font-h3);
  border-radius: 10px;
  text-align: center;
  color: var(--color-h3);
}

.conte-eje .eje-h3-2{
    color: var(--color-h3);
}
.conte-eje .eje-h3-3{
    color: var(--color-h3);
}
.conte-eje .eje-p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-parrafo-general);
  font-family: var(--font-p);
}

/* BLOQUE OBJETIVOS */
.contenido-eje {
  margin-top: 1rem;
  padding: 0 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--text-parrafo-general);
}
.contenido-eje h4 {
  font-size: 1.5rem;
  font-family: 'Cherry Bomb One', cursive;
  font-weight: 900;
  color: var(--bg-color-dark);
  padding-bottom: 1rem;
}
.contenido-eje .eje-h42{
  color: var(--bg-color-dark);
}
.contenido-eje .eje-h43{
  color: var(--bg-color-dark);
}
.contenido-eje ul {
  list-style: none;
  font-size: 1rem;
  font-family: var(--font-p);
  padding: 0.5rem;
}
.contenido-eje ul li::before {
  content: "- ";
  font-size: 1.5rem;
}

/*! proyectos en planificacion */
.proyectos-planificacion{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 4rem;
}
.proyectos-planificacion h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  padding: 0.5rem;
  color: var(--title-h2);
  font-family: 'Underdog', cursive;
  text-align: center;
}
.proyectos-planificacion h2 span {
  color: var(--titulo-span);
  font-family: 'Cherry Bomb One', cursive;
}
.proyectos-planificacion .pro-pp {
  margin: 1rem 0 1rem 0;
  color: var(--text-parrafo-general);
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font-p);
}


.timeline {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 20px;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #2196f3;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}
.timeline-item .content {
  padding: 20px;
  border-radius: 8px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.timeline-item.left {
  left: 0;
  text-align: right;
}
.timeline-item.right {
  left: 50%;
  text-align: left;
}
.timeline-item.left .content {
  margin-right: 30px;
}
.timeline-item.right .content {
  margin-left: 30px;
}
.timeline .iconos {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .timeline::after {
    left: 8px;
  }
  .timeline-item {
    width: 100%;
    padding-left: 30px;
    padding-right: 15px;
  }
  .timeline-item.right,
  .timeline-item.left {
    left: 0;
    text-align: left;
  }
  .timeline-item.left .content,
  .timeline-item.right .content {
    margin: 0 0 20px 20px;
  }
}
.content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--bg-color-dark);
  font-family: 'Cherry Bomb One', cursive;
}
.content p {
  font-size: 1rem;
  color: var(--text-parrafo-general);
  font-family: var(--font-p);
}
/*! compromiso y sostenibilidad */
.compromiso-sostenibilidad {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.compromiso-sostenibilidad h2 {
    font-size: clamp(2rem, 4vw, 5rem);
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
    color: var(--title-h2);
    padding-left: 1rem;
    font-family: 'Underdog', cursive;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.compromiso-sostenibilidad h2 span {
  color: var(--titulo-span);
  font-family: 'Cherry Bomb One', cursive;
}
.compromiso-sostenibilidad .psom {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-parrafo-general);
  font-family: var(--font-p);

}

.items-compromiso-sos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

}

.items-compromiso-sos div h3 {
  font-size: 2rem;
  margin-top: 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  font-family: var(--font-h3);
}
.item-com{
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.item-com1{
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.item-com2{
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.item-com-h3{
  color: var(--color-h3);
}
.item-com1-h3{
  color: var(--color-h3);
}
.item-com2-h3{
  color: var(--color-h3);
}
.items-compromiso-sos div p {
  margin: 1rem;
  color: var(--text-parrafo-general);
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font-p);
}
